/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #fafdff;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
.cannotselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.title::before {
  content: "";
  display: block;
  height: 5px;
  width: 51px;
  margin-right: 25px;
  background: #3EB370;
}
.title::after {
  content: "";
  display: block;
  height: 5px;
  width: 51px;
  margin-left: 25px;
  background: #3EB370;
}
.text p {
  margin: 10px 0;
  text-indent: 33px;
  line-height: 23px;
  letter-spacing: 1px;
  font-size: 16px;
  color: #666;
}
.pointer {
  cursor: pointer;
}
.cannotselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* 大型设备（大台式电脑，1200px 起）*/
#header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background: transparent;
}
.header-in {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-in .logo {
  height: 44px;
}
.header-in .logo img {
  height: 100%;
}
.header-in nav {
  height: 100%;
}
.header-in nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-in nav ul li {
  height: 60%;
  display: flex;
  align-items: center;
  position: relative;
}
.header-in nav ul li:hover a {
  color: #fff;
}
.header-in nav ul li.active a {
  color: #fff;
}
.header-in nav ul li.active ::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -10%;
  height: 2px;
  width: 120%;
  background-color: #fff;
}
.header-in nav ul li + li {
  margin-left: 25px;
}
.header-in nav ul li a,
.header-in nav ul li a:link,
.header-in nav ul li a:visited,
.header-in nav ul li a:hover,
.header-in nav ul li a:active,
.header-in nav ul li a:focus {
  text-decoration: none;
}
.header-in nav ul li a {
  color: #3EB370;
  font-size: 16px;
  font-weight: bold;
}
.header-in nav ul li button {
  padding: 6px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: #3EB370;
  opacity: 0.55;
  font-size: 16px;
}
#header.bg {
  background: #3EB370 !important;
  transition: 0.3s;
}
#header.bg a {
  color: #16723D !important;
}
#header.bg li:hover a {
  color: #fff !important;
}
#header.bg .active a {
  color: #fff !important;
}
#header.bg button {
  background: #16723D !important;
}
footer {
  height: 60px;
  line-height: 60px;
  background: #fff;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
  text-align: center;
  color: #999;
  font-size: 14px;
}
/* 大型设备（大台式电脑，1200px 起）*/
main #banner {
  height: 660px;
}
main #banner .swiper {
  width: 100%;
  height: 100%;
}
main #banner .swiper-slide {
  background-position: center;
  background-size: cover;
}
main #banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
main #banner .my-bullet {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #000;
  position: relative;
  margin: 0 6px;
  opacity: 0.3;
}
main #banner .my-bullet-active {
  background: #fff;
  opacity: 1;
}
main #banner .swiper-pagination {
  bottom: 10px;
}
main #banner .swiper-button-next,
main #banner .swiper-button-prev {
  color: #3EB370;
}
main .container {
  background: #fafdff;
}
main .container .content {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
main .container .content .about-grow {
  padding: 50px 110px 30px 110px;
  background: #fff;
  box-shadow: 0px 16px 30px 1px rgba(187, 187, 187, 0.10196078);
}
main .container .content .about-grow .title {
  margin: 30px 0;
}
main .container .content .grow-culture {
  margin-top: 80px;
}
main .container .content .grow-culture .title {
  margin-bottom: 40px;
}
main .container .content .grow-culture .flex {
  display: flex;
  justify-content: space-between;
}
main .container .content .grow-culture .flex .flex-item {
  width: 285px;
  position: relative;
  background: #fff;
  box-shadow: 0px 16px 30px 1px rgba(187, 187, 187, 0.10196078);
}
main .container .content .grow-culture .flex .flex-item img {
  width: 100%;
  height: 195px;
  object-fit: cover;
}
main .container .content .grow-culture .flex .flex-item p {
  margin: 0 30px;
  text-align: center;
  color: #666;
  line-height: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .content .grow-culture .flex .flex-item > div {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  width: 70px;
  height: 120px;
  background: #3EB370;
  line-height: 120px;
  text-align: center;
  color: #fff;
}
main .container .content .grow-photo .title {
  margin: 80px 0 40px 0;
}
main .container .content .grow-photo .photo-container {
  display: flex;
  height: 380px;
}
main .container .content .grow-photo .photo-container + .photo-container {
  margin-top: 20px;
}
main .container .content .grow-photo .photo-container img {
  width: calc(50% - 9px);
  height: 100%;
  flex: 1;
  object-fit: cover;
}
main .container .content .grow-photo .photo-container img + img {
  margin-left: 18px;
}
main .container .content .grow-addr {
  padding-bottom: 20px;
  box-shadow: 0px 16px 30px 1px rgba(243, 243, 243, 0.2);
}
main .container .content .grow-addr .title {
  margin: 80px 0 40px 0;
}
main .container .content .grow-addr .addr {
  margin: 38px 0;
  text-align: center;
}
main .container .content .grow-addr .addr > div {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}
main .container .content .grow-addr .addr > p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}
