/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
/* 大型设备（大台式电脑，1200px 起）*/
@media (min-width: 1200px) {
  #header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    background: transparent;
  }
  .header-in {
    width: 100%;
    max-width: 1000px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-in .logo {
    height: 44px;
  }
  .header-in .logo img {
    height: 100%;
  }
  .header-in nav {
    height: 100%;
    flex-basis: 40%;
  }
  .header-in nav ul {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .header-in nav ul li {
    height: 60%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .header-in nav ul li:hover a {
    color: #fff;
  }
  .header-in nav ul li.active a {
    color: #fff;
  }
  .header-in nav ul li.active ::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -10%;
    height: 2px;
    width: 120%;
    background-color: #fff;
  }
  .header-in nav ul li + li {
    margin-left: 25px;
  }
  .header-in nav ul li a,
  .header-in nav ul li a:link,
  .header-in nav ul li a:visited,
  .header-in nav ul li a:hover,
  .header-in nav ul li a:active,
  .header-in nav ul li a:focus {
    text-decoration: none;
  }
  .header-in nav ul li a {
    color: #3EB370;
    font-size: 16px;
  }
  .header-in nav ul li button {
    padding: 6px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    background-color: #3EB370;
    opacity: 0.55;
  }
}
/* 大型设备（大台式电脑，1200px 起）*/
@media (min-width: 1200px) {
  main #banner {
    width: 100vw;
    height: 100vh;
  }
  main #banner .swiper {
    width: 100%;
    height: 100%;
  }
  main #banner .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  main #banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main #banner .my-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #000;
    position: relative;
    margin: 0 6px;
    opacity: 0.3;
  }
  main #banner .my-bullet-active {
    background: #fff;
    opacity: 1;
  }
  main #banner .swiper-pagination {
    bottom: 70px;
  }
  main #banner .swiper-button-next,
  main #banner .swiper-button-prev {
    color: #3EB370;
  }
  main .slogan {
    position: fixed;
    top: 40vh;
    left: 17%;
    width: 630px;
    z-index: 999;
    font-size: 48px;
    color: #fff;
    letter-spacing: 5px;
  }
  main .slogan > p:first-child {
    font-weight: 600;
    line-height: 64px;
  }
  main .slogan > p:last-child {
    margin-top: 40px;
    font-size: 36px;
    letter-spacing: 1px;
  }
}
footer {
  position: fixed;
  bottom: 20px;
  z-index: 999;
  width: 100%;
  padding-left: 55px;
  display: flex;
  justify-content: center;
  color: #fff;
}
footer > div {
  display: flex;
  align-items: center;
}
footer > div img {
  height: 26px;
}
footer > div span {
  margin-left: 8px;
}
footer > div + div {
  margin-left: 100px;
}
