/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #fafdff;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
.cannotselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.title::before {
  content: "";
  display: block;
  height: 5px;
  width: 51px;
  margin-right: 25px;
  background: #3EB370;
}
.title::after {
  content: "";
  display: block;
  height: 5px;
  width: 51px;
  margin-left: 25px;
  background: #3EB370;
}
.text p {
  margin: 10px 0;
  text-indent: 33px;
  line-height: 23px;
  letter-spacing: 1px;
  font-size: 16px;
  color: #666;
}
.pointer {
  cursor: pointer;
}
.cannotselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* 大型设备（大台式电脑，1200px 起）*/
#header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background: transparent;
}
.header-in {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-in .logo {
  height: 44px;
}
.header-in .logo img {
  height: 100%;
}
.header-in nav {
  height: 100%;
}
.header-in nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-in nav ul li {
  height: 60%;
  display: flex;
  align-items: center;
  position: relative;
}
.header-in nav ul li:hover a {
  color: #fff;
}
.header-in nav ul li.active a {
  color: #fff;
}
.header-in nav ul li.active ::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -10%;
  height: 2px;
  width: 120%;
  background-color: #fff;
}
.header-in nav ul li + li {
  margin-left: 25px;
}
.header-in nav ul li a,
.header-in nav ul li a:link,
.header-in nav ul li a:visited,
.header-in nav ul li a:hover,
.header-in nav ul li a:active,
.header-in nav ul li a:focus {
  text-decoration: none;
}
.header-in nav ul li a {
  color: #3EB370;
  font-size: 16px;
  font-weight: bold;
}
.header-in nav ul li button {
  padding: 6px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: #3EB370;
  opacity: 0.55;
  font-size: 16px;
}
/* 大型设备（大台式电脑，1200px 起）*/
#header {
  background: #3EB370 !important;
  position: relative;
}
#header a {
  color: #16723D !important;
}
#header li:hover a {
  color: #fff !important;
}
#header .active a {
  color: #fff !important;
}
#header button {
  background: #16723D !important;
}
main .container {
  background: #fafdff;
  padding-bottom: 150px;
}
main .container .content {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
main .container .content .trend .title {
  color: #333;
  margin: 80px 0 40px 0;
}
main .container .content .trend .flex-box {
  display: flex;
  justify-content: space-between;
}
main .container .content .trend .flex-box .flex-item {
  width: 320px;
  height: 460px;
  background: #fff;
  box-shadow: 0px 16px 30px 1px rgba(187, 187, 187, 0.10196078);
}
main .container .content .trend .flex-box .flex-item .top {
  height: 80px;
  margin-bottom: 40px;
  padding: 18px 55px;
  background: #3EB370;
  text-align: center;
  font-size: 18px;
  color: #fff;
  line-height: 22px;
  box-sizing: border-box;
}
main .container .content .trend .flex-box .flex-item:nth-child(2) .top {
  padding: 18px 76px;
}
main .container .content .trend .flex-box .flex-item:nth-child(3) .top {
  padding: 18px 60px;
}
main .container .content .trend .flex-box .flex-item .paragraph {
  margin: 0 25px;
  color: #333;
}
main .container .content .trend .flex-box .flex-item .paragraph p {
  word-break: break-all;
  font-size: 16px;
  line-height: 20px;
}
main .container .content .trend .flex-box .flex-item .paragraph p + p {
  margin-top: 16px;
}
main .container .content .demand .title {
  color: #333;
  margin: 80px 0 40px 0;
}
main .container .content .demand .shade-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container .content .demand .shade-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .container .content .demand .shade-img .shade {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  opacity: 0.5;
}
main .container .content .demand .shade-img p {
  position: absolute;
  color: #fff;
  font-size: 40px;
}
main .container .content .demand .img-left {
  width: 591px;
  height: 591px;
}
main .container .content .demand .flex {
  display: flex;
}
main .container .content .demand .flex-col {
  flex-direction: column;
}
main .container .content .demand .flex1 {
  flex: 1;
}
main .container .content .demand .ml20 {
  margin-left: 20px;
}
main .container .content .demand .mt20 {
  margin-top: 20px;
}
main .container .content .resolve .title {
  margin: 80px 0 40px 0;
}
main .container .content .resolve .flex {
  display: flex;
}
main .container .content .resolve > div.flex {
  height: 336px;
  box-shadow: 0px 16px 30px 1px rgba(187, 187, 187, 0.10196078);
}
main .container .content .resolve > div.flex + .flex {
  margin-top: 40px;
}
main .container .content .resolve > div.flex > div {
  width: 50%;
}
main .container .content .resolve > div.flex > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .container .content .resolve > div.flex .desc {
  padding: 90px;
  box-sizing: border-box;
}
main .container .content .resolve > div.flex .desc .top {
  display: inline-block;
  color: #3EB370;
  font-size: 30px;
}
main .container .content .resolve > div.flex .desc .top::after {
  content: "";
  height: 1px;
  display: block;
  width: calc(100% + 20px);
  margin-top: 10px;
  background: #3EB370;
}
main .container .content .resolve > div.flex .desc .paragraph {
  margin-top: 20px;
  font-size: 20px;
  color: #666;
  line-height: 28px;
  letter-spacing: 1px;
}
footer {
  height: 94px;
  line-height: 94px;
  background: #fff;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16078431);
  text-align: center;
  color: #666;
  font-size: 16px;
}
