/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #fafdff;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}
.cannotselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.title::before {
  content: "";
  display: block;
  height: 5px;
  width: 51px;
  margin-right: 25px;
  background: #3EB370;
}
.title::after {
  content: "";
  display: block;
  height: 5px;
  width: 51px;
  margin-left: 25px;
  background: #3EB370;
}
.text p {
  margin: 10px 0;
  text-indent: 33px;
  line-height: 23px;
  letter-spacing: 1px;
  font-size: 16px;
  color: #666;
}
.pointer {
  cursor: pointer;
}
.cannotselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* 大型设备（大台式电脑，1200px 起）*/
#header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background: transparent;
}
.header-in {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-in .logo {
  height: 44px;
}
.header-in .logo img {
  height: 100%;
}
.header-in nav {
  height: 100%;
}
.header-in nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-in nav ul li {
  height: 60%;
  display: flex;
  align-items: center;
  position: relative;
}
.header-in nav ul li:hover a {
  color: #fff;
}
.header-in nav ul li.active a {
  color: #fff;
}
.header-in nav ul li.active ::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -10%;
  height: 2px;
  width: 120%;
  background-color: #fff;
}
.header-in nav ul li + li {
  margin-left: 25px;
}
.header-in nav ul li a,
.header-in nav ul li a:link,
.header-in nav ul li a:visited,
.header-in nav ul li a:hover,
.header-in nav ul li a:active,
.header-in nav ul li a:focus {
  text-decoration: none;
}
.header-in nav ul li a {
  color: #3EB370;
  font-size: 16px;
}
.header-in nav ul li button {
  padding: 6px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #fff;
  background-color: #3EB370;
  opacity: 0.55;
}
/* 大型设备（大台式电脑，1200px 起）*/
main {
  width: 100vw;
  height: 100vh;
  background: #000;
}
main .login {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  position: relative;
}
main .login > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .login .form {
  width: 250px;
  margin: 0 auto;
  position: absolute;
  top: 166px;
  right: 0;
  bottom: 0;
  left: 0;
}
main .login .form .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .login .form .logo > img {
  width: 85%;
}
main .login .form .logo > h2 {
  margin-top: 12px;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}
main .login .form .box {
  margin-top: 50px;
}
main .login .form .box .login-way {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  color: #fff;
}
main .login .form .box .login-way > .active {
  color: #fabe00;
}
main .login .form .box .account-tab {
  margin-top: 20px;
}
main .login .form .box .account-tab .row {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 16px 30px 1px rgba(187, 187, 187, 0.1);
}
main .login .form .box .account-tab .row + .row {
  margin-top: 15px;
}
main .login .form .box .account-tab .row > img {
  width: 16px;
  margin-right: 8px;
}
main .login .form .box .account-tab .row > input {
  outline: none;
  border: none;
  font-size: 14px;
  flex: 1;
  width: 100%;
}
main .login .form .box .account-tab .flex {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .login .form .box .account-tab .flex > div {
  width: 45%;
}
main .login .form .box .account-tab .flex > div + div {
  margin-left: 10px;
}
main .login .form .box .account-tab .flex .captcha {
  height: 38px;
  line-height: 38px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
}
main .login .form .box .account-tab .flex .log-btn {
  width: 45%;
  height: 38px;
  border: none;
  border-radius: 3px;
  background: #fabe00;
  color: #fff;
  text-align: center;
}
main .login .form .box .account-tab .flex .log-btn:hover {
  background: #eeb702;
}
main .login .form .box .account-tab .flex .download {
  height: 38px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fff;
}
main .login .form .box .account-tab .flex .download > span {
  margin-left: 5px;
}
